# Ignore Gradle project-specific cache directory
.gradle/



# Ignore Gradle build output directory
bin
build
out

# Ignore all editor specific files & directories
.idea/
.vscode/
*.iml
.classpath
.project
.settings/*